<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="The room you are trying to join is full." />
        <meta name="robots" content="noindex,nofollow"/>
        <title>Room Full!</title>
        <link rel="stylesheet" href="./static/css/room-full.css" />
    </head>
    <body>
        <div id="error">
            <h2>The room you are trying to join is full!</h2>
            <p>Try joining a new room.</p>
        </div>
    </body>
</html>